#onePlayer{
	background-color: #cc0000;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 625px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #ccccff;
}

#onePlayer.hover{background-color: #b30000;}

#onePlayer.active{
	background-color: #cc0000;
	box-shadow: 0 5px #9999ff;
	transform: translateY(4px);
}

#twoPlayer{
	background-color: #cc0000;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 250px;
	left: 625px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #ccccff;
}

#twoPlayer.hover{background-color: #b30000;}

#twoPlayer.active{
	background-color: #9999ff;
	box-shadow: 0 5px #9999ff;
	transform: : translateY(4px);
}

#reset{
	background-color: #cc0000;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 400px;
	left: 625px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #ccccff;
}

#reset.hover{background-color: #b30000;}

#reset.active{
	background-color: #9999ff;
	box-shadow: 0 5px #9999ff;
	transform: : translateY(4px);
}